// All colour declarations

$color-tundora: #4D4D4D;
$color-mine-shaft: #333333;
$color-mine-shaft-dark: #222222;
$color-scorpion: #5D5D5D;
$color-mercury: #E5E5E5;
$color-silver: #C6C3C3;
$color-white: #fff;
$color-black: #000000;
$color-dove-gray: #707070;
$color-red-orange-light: #ff3232cc;
